<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nave>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
    </nave>
    <h1>Home page Update</h1>
    <p>This is html file</p>
</body>
</html>